* {
    padding: 0;

    box-sizing: border-box !important;
}

html {
    font: 14px Helvetica, sans-serif;

    background-color: snow;
    color:#232323
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-corner {
    display: none;
}

ul,
ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    cursor: pointer;
}

/*------------------------------------------------------------*/
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;

    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

.main__container {
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main__image {
    flex: 1 0 40%;

    position: relative;

    max-width: 400px;
    min-height: 453px;

    overflow: hidden;
}

.main__image img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

@keyframes hueRotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.main__image img:hover {
    animation: hueRotate 10s infinite;
}

.footer {
    min-height: 10vh;

    color: snow;
    background-color: #232323;
}

.footer>.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer__copyright {
    font-size: 0.8rem;

    opacity: 0.7;
}